<a href="https://colab.research.google.com/github/jimbrig-work/Collab-Notebooks/blob/main/Getting_started_with_BigQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Before you begin


1.   Use the [Cloud Resource Manager](https://console.cloud.google.com/cloud-resource-manager) to Create a Cloud Platform project if you do not already have one.
2.   [Enable billing](https://support.google.com/cloud/answer/6293499#enable-billing) for the project.
3.   [Enable BigQuery](https://console.cloud.google.com/flows/enableapi?apiid=bigquery) APIs for the project.

### Provide your credentials to the runtime

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

## Optional: Enable data table display

Colab includes the ``google.colab.data_table`` package that can be used to display large pandas dataframes as an interactive data table.
It can be enabled with:

In [ ]:
%load_ext google.colab.data_table

If you would prefer to return to the classic Pandas dataframe display, you can disable this by running:
```python
%unload_ext google.colab.data_table
```

# Use BigQuery via magics

The `google.cloud.bigquery` library also includes a magic command which runs a query and either displays the result or saves it to a variable as a `DataFrame`.

In [2]:
# Display query output immediately

%%bigquery --project pg-us-e-app-584489
SELECT 
  COUNT(*) as total_rows
FROM `Equitable.ProRata`

   total_rows
0     1048575

In [4]:
# Save output in a variable `df`

%%bigquery --project pg-us-e-app-584489 df
SELECT * FROM `Equitable.ProRata`

In [5]:
df

         Year_curr  Month_curr  ... Actual_Pro_Rata_Amount Expected
0             2016           1  ...                    0.0       EI
1             2016           1  ...                    0.0       EI
2             2016           1  ...                    0.0       EI
3             2016           1  ...                    0.0       EI
4             2016           1  ...                    0.0       EI
...            ...         ...  ...                    ...      ...
1048570       2016           2  ...                 1200.0     GAAP
1048571       2016           2  ...                  500.0     GAAP
1048572       2016           2  ...                  202.0     GAAP
1048573       2016           2  ...                  125.0     GAAP
1048574       2016           2  ...                  500.0     GAAP

[1048575 rows x 27 columns]

In [6]:
df.describe()

       Year_curr  ...  Actual_Pro_Rata_Amount
count  1048575.0  ...            1.048575e+06
mean      2016.0  ...            4.691309e+02
std          0.0  ...            6.611154e+03
min       2016.0  ...            0.000000e+00
25%       2016.0  ...            0.000000e+00
50%       2016.0  ...            0.000000e+00
75%       2016.0  ...            0.000000e+00
max       2016.0  ...            1.580695e+06

[8 rows x 10 columns]

# Use BigQuery through google-cloud-bigquery

See [BigQuery documentation](https://cloud.google.com/bigquery/docs) and [library reference documentation](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/usage.html).

The [GSOD sample table](https://bigquery.cloud.google.com/table/bigquery-public-data:samples.gsod) contains weather information collected by NOAA, such as precipitation amounts and wind speeds from late 1929 to early 2010.

### Declare the Cloud project ID which will be used throughout this notebook

In [7]:
project_id = 'pg-us-e-app-584489'

### Sample approximately 2000 random rows

In [8]:
from google.cloud import bigquery

client = bigquery.Client(project=project_id)

sample_count = 2000
row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `Equitable.ProRata`''').to_dataframe().total[0]

df = client.query('''
  SELECT
    *
  FROM
    `Equitable.ProRata`
  WHERE RAND() < %d/%d
''' % (sample_count, row_count)).to_dataframe()

print('Full dataset has %d rows' % row_count)

Full dataset has 1048575 rows

### Describe the sampled data

In [9]:
df.describe()

       Year_curr   Month_curr  ...  Expected_Pro_Rata_Amount  Actual_Pro_Rata_Amount
count     1973.0  1973.000000  ...               1973.000000             1973.000000
mean      2016.0     5.856564  ...                317.284970              379.021135
std          0.0     3.644469  ...                951.009133             3849.573137
min       2016.0     1.000000  ...                  0.001261                0.000000
25%       2016.0     2.000000  ...                 32.635276                0.000000
50%       2016.0     6.000000  ...                 98.213920                0.000000
75%       2016.0     9.000000  ...                283.201533                0.000000
max       2016.0    12.000000  ...              30167.318700           128601.170000

[8 rows x 10 columns]

### View the first 10 rows

In [10]:
df.head(10)

   Year_curr  Month_curr  ... Actual_Pro_Rata_Amount Expected
0       2016           2  ...                    0.0       EI
1       2016           7  ...                    0.0       EI
2       2016           7  ...                    0.0       EI
3       2016           9  ...                    0.0       EI
4       2016           1  ...                    0.0     GAAP
5       2016           1  ...                    0.0     GAAP
6       2016           2  ...                    0.0     GAAP
7       2016           1  ...                    0.0       EI
8       2016           1  ...                    0.0       EI
9       2016           1  ...                    0.0       EI

[10 rows x 27 columns]

In [11]:
# 10 highest total_precipitation samples
df.sort_values('', ascending=False).head(10)[['station_number', 'year', 'month', 'day', 'total_precipitation']]

KeyError: ignored

# Use BigQuery through pandas-gbq

The `pandas-gbq` library is a community led project by the pandas community. It covers basic functionality, such as writing a DataFrame to BigQuery and running a query, but as a third-party library it may not handle all BigQuery features or use cases.

[Pandas GBQ Documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_gbq.html)

In [ ]:
import pandas as pd

sample_count = 2000
df = pd.io.gbq.read_gbq('''
  SELECT name, SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''', project_id=project_id, dialect='standard')

df.head()

      name   count
0    James  272793
1     John  235139
2  Michael  225320
3   Robert  220399
4    David  219028

# Syntax highlighting
`google.colab.syntax` can be used to add syntax highlighting to any Python string literals which are used in a query later.

In [ ]:
from google.colab import syntax
query = syntax.sql('''
SELECT
  COUNT(*) as total_rows
FROM
  `bigquery-public-data.samples.gsod`
''')

pd.io.gbq.read_gbq(query, project_id=project_id, dialect='standard')

   total_rows
0   114420316